@import "tailwindcss";
.react-calendar {

  width: 100% !important;

  background: #0f172a !important;

  color: white !important;

  border: none !important;

  border-radius: 24px;

  padding: 30px;

  font-size: 20px;
}

.react-calendar__navigation {

  margin-bottom: 20px;
}

.react-calendar__navigation button {

  color: white !important;

  min-width: 50px;

  background: none;

  font-size: 20px;
}

.react-calendar__month-view__weekdays {

  text-align: center;

  font-weight: bold;

  color: #38bdf8;
}

.react-calendar__tile {

  padding: 25px 10px;

  background: transparent;

  color: white;

  border-radius: 16px;

  transition: 0.3s;
}

.react-calendar__tile:hover {

  background: #1e293b !important;
}

.react-calendar__tile--active {

  background: #06b6d4 !important;

  color: white !important;
}

.completed-day {

  background: #22c55e !important;

  color: white !important;

  font-weight: bold;
}